*{
    font-family:monospace;
    user-select: none;
}
::-webkit-scrollbar{
    width: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: darkgray;
}
html{
    overscroll-behavior: none;
    scroll-behavior: smooth;
}
:root{
    --background-color:#f1f5f3;
    --text-color:#2e7d32;
    --color:black;
}
li::marker{
    content: "";
}
.fulllogo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo{
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
}
.login-signup{
    height: 6vh;
    width: 13vw;
    font-size: 3vh;
    color: #1a4e1d;
    font-weight: 200;
    border-radius: 30px;
    border: 3px solid #1a4e1d;
    cursor: pointer;
    padding: 1vh;
    transition: all 0.7s linear;
}
.login-signup:hover{
    background-color: red;
    color: white;
}
p{
    font-size: 20px;
}
@media(max-width:600px){
    nav ul {
        position: absolute;
        top: 4.5rem;
        left: 0;
        right: 0;
        flex-direction: column;
        gap: 0;
        overflow: hidden;
        background-color: var(--background-color);
        z-index: 100;
    }
    nav ul li{
        padding: 1rem;
    }
    .menu-icon{
        display: inline;
        height: 4.5vw;
        width: 6vw;
    }
}
.recent-posts{
    display: flex;
    margin-top: 20vh;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main1{
    height: 400px;
    width: 1000px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    padding: 20px;
}
.main1 img{
    height: 100%;
    width: 50%;
    border-radius: 20px;
}
.details{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
    color: white;
    gap: 20px;
    font-weight: 1000;
}
.highlight{
    font-size: 30px;
    color: black;
}
.description{
    font-size: 17px;
    width: 270px;
    color: black;
}
.main1 span{
    color: black;
}
.details button{
    height: 70px;
    width: 230px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: pink;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
}
.details button i{
    margin-left: 15px;
    margin-top: 5px;
}
.panel{
    display: flex;
    width: 100%;
    top: 500px;
    margin-top: 100px;
    justify-content: center;
    gap: 30px;
}
.panel button{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    outline: none;
    border:none;
    background-color: transparent;
}
.box{
    height: 500px;
    width: 475px;
    border-radius: 15px;
    display: inline-block;
    margin: 10px;   
    transition: all 2s linear ;
    background-color: grey;
    border: 2px solid white;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.image{
    height: 200px;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 15px;
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}
.contentdes{
    margin: 10px;
    color: orange;
}
.desc{
    margin: 10px;
    font-size: 20px;
    font-weight: 1000;
}
.date{
    margin: 10px;
    font-size: 20px;
}
.descr{
    margin: 10px;
}
.author{
    display: flex;
    
}
.profile{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuiAvlNTKx4FeU_yp8TjWgnDaa8xaaMu4ZVQ&s);
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid black;
}
.name{
    margin: 15px;
}
.conten{
    height: auto;
    width: 100%;
    display: flex;
justify-content: space-evenly;  
flex-direction: row;
flex-wrap: wrap;
transition: all 2s linear ;
}
.footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    
}
.footer p{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 22px;
}
.icons{
    margin-top: 10px;
 margin-right: 10px;
 font-size: 22px;
 margin-right: 30px;
}
.icons i:hover{
    color: rgb(182, 246, 5);
}
.image:hover{
    transform: scale(1.05);
    cursor: pointer;
}
html{
    scroll-behavior: smooth;
}
.no{
    background-image: url(https://img.freepik.com/premium-vector/black-hexagon-carbon-fiber-metallic-texturd-background_156943-361.jpg);
    height: 110px;
    width: 100%;
}
.div1{
    height: 60px;
    width: 60px;
    border-radius: 50%;
border: 2px solid black;
}
.good{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.desc:hover{
    color: rgb(182, 246, 5);
    cursor: pointer;
}
.contentdes{
    font-size: 20px;
    color:aquamarine;
}
.descr{
    font-size: 18px;
}
.profile{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyfKawaE0b3wX3pL3YMDM9zyI-647gKc-nbQ&s);
}
.name{
    font-size: 20px;
    font-weight: 1000;
}
.panel button{
    font-size: x-large;
    font-weight: 1000;
    margin-right: 30px;
    width: auto;
}
.panel button:hover{
    background-color: grey;
}
.recent-posts h1{
    font-size: 50px;
    font-family: 1000;
    color: white;
    margin-right: 100px;
    -webkit-text-stroke: 1px black;
}
nav{
    padding: 1.5vh 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-bottom: 0.05rem solid black;
}
nav ul{
    display: flex;
    gap: 2.7vw;
    align-items: center;
    transition: 1s;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.2vw;
}
.menu-icon{
    display: none;
}
.menu-icon-bar{
    margin-top: 1.4vh;
    margin-left: 0.2vw
}
.bar{
    height: 0.1rem;
    width: 2rem;
    background-color:black;
    margin-left: 0.5vw;
    transition: 0.2s;
}
.one{
    transform: translateY(-0.25rem);
}
.two{
    transform: translateY(0.5rem);
}
@media(max-width:600px){
    nav ul {
        position: absolute;
        top: 4.5rem;
        left: 0;
        right: 0;
        flex-direction: column;
        gap: 0;
        overflow: hidden;
        background-color: var(--background-color);
        z-index: 100;
    }
    nav ul li{
        padding: 1rem;
    }
    .menu-icon{
        display: inline;
        height: 4.5vw;
        width: 6vw;
    }
}
.recent-posts{
    display: flex;
    margin-top: 20vh;
}
.hello{
    height: 100%;
    width: 1400px;
    margin: 30px;
    padding: 20px;
    border: 2px  solid black;
    border-radius: 30px;
}
img{
    float: left;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    shape-outside:circle(50%);
    margin: 30px;
}
footer{
    position: relative;
    top: 0vh;
}
.footer-heading img{
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
}
.footer-heading p{
    font-size: 25px;
    color: white;
    padding-left: 20px;
}
.footer-heading{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.footer-content{
    display: flex;
    padding-right: 20px;
    margin-right: 20px;
}
.footer-content div ul li {
    font-size: x-large;
    color: white;
}
.social-media{
    text-align: center;
    font-size: 20px;
    color: white;
}
.copyright{
    font-size: 3vh;
    display: flex;
    font-size: 20px;
    color: white;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.copyright span{
    margin-left: 10px;
}
@media(max-width:1200px){
    .hello{
        width: 90%;
        margin-left: 40px;
    }
}