* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #cd5a0d;
    --secondary-color: rgba(255, 255, 255, .4);
}

#service-section {
    min-height: 1000px;
    width: 100%;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#service-section h1 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
    position: relative;
    padding: 0 40px;
    display: inline-block;
}

#service-section #paragraph {
    width: 45%;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    z-index: 9;
    margin-top: 20px;
}

.cards .card {
    min-height: 350px;
    width: 450px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 8%;
    background: rgb(65, 62, 105);
    position: relative;
    border-radius: 10px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000; 
}

.cards .card::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-image: linear-gradient(to right, lime, yellow);
    transition: .6s;
    transform: rotate(0deg);
    z-index: -1;
}

.cards .card:hover::before {
    transform: rotate(10deg);
}

.cards .card i {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-top: 40px;
    margin-bottom: 10px;
}

.cards .card h3 {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 10px;
}

.cards .card p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.05rem;
    margin-top: 20px;
    font-weight: 500;
}

@media (max-width: 1100px) {
    #service-section h2 {
        margin-top: 30px;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    #service-section #paragraph {
        width: 80%;
    }
}

@media (max-width: 900px) {
    .cards .card {
        height: 300px;
        width: 400px;
        margin: 20px 0;
    }
}